---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

import astroLogo from "../assets/astro.svg";
import home from "../assets/home.svg";
import about from "../assets/about.svg";
import catalog from "../assets/catalog.svg";
import contact from "../assets/contact.svg";
import cart from "../assets/cart.svg";
---

<header class="lg:flex justify-between px-10 py-5 gap-5 mx-auto container">
    <Astronav closeOnClick>
        <div class="flex w-full lg:w-auto justify-between">
            <a href="https://astro.build">
                <img src={astroLogo.src} width="115" height="48" alt="Logo" />
            </a>
            <div class="block lg:hidden">
                <div class="flex">
                    <a href="#" class="flex">
                        <span class="material-symbols-outlined">
                            shopping_cart
                        </span>
                    </a>
                    <MenuIcon class="w-8 h-8 ml-2 text-gray-800" />
                </div>
            </div>
        </div>
        <MenuItems class="hidden lg:flex">
            <ul class="flex flex-col lg:flex-row lg:gap-5">
                <li class="py-2 text-xl lg:text-lg hover:text-orange-300">
                    <a href="#" class="flex align-middle items-center">
                        <span class="material-symbols-outlined mr-1">
                            home
                        </span>
                        Inicio</a
                    >
                </li>
                <li class="py-2 text-xl lg:text-lg">
                    <a
                        href="#"
                        class="flex align-middle items-center hover:text-orange-300"
                    >
                        <span class="material-symbols-outlined mr-1">
                            digital_wellbeing
                        </span>
                        Sobre nosotros</a
                    >
                </li>

                <li class="py-2 text-xl lg:text-lg">
                    <a
                        href="#"
                        class="flex align-middle items-center hover:text-orange-300"
                    >
                        <span class="material-symbols-outlined mr-1">
                            menu_book
                        </span>
                        Cursos</a
                    >
                </li>
                <li class="py-2 text-xl lg:text-lg">
                    <a
                        href="#"
                        class="flex align-middle items-center hover:text-orange-300"
                    >
                        <span class="material-symbols-outlined mr-1">
                            mail
                        </span>
                        Contacto</a
                    >
                </li>
                <li class="py-2 text-xl lg:text-lg hidden lg:block">
                    <a
                        href="#"
                        class="flex align-middle items-center hover:text-orange-300"
                    >
                        <span class="material-symbols-outlined mr-1">
                            shopping_cart
                        </span>
                    </a>
                </li>
            </ul>
        </MenuItems>
    </Astronav>
</header>
